/* === Azeret Font === */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* , 
*::after , 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Bg-color: #f5f5f5;
    --color-primary : #6d6dde;
    --color-secondary: #d85959;
    --color-yellow : #f6f661;
    --secondary-color: #000;
    --Text-black: #000;
    --Text-white: #fff;
    --font-Size-Extra-small : 1vw;
    --font-Size-small : 1.33vw;
    --font-Size-defult : 1.25rem;
    --font-Size-medeum : 2.3vw;
    --font-Size-big : 2.5rem;

}
a , li {
    text-decoration: none;
    color: var(--Text-black);
}

body{
    background-color: var(--Bg-color);
    width: 100%;
}

/* == navbar == */
header {
    display: block;
    width: 100%;
}
header > nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}
header > nav > h1.name{
    font-family: Azeret Mono;
    font-weight: 800;
    font-size: var(--font-Size-defult);
}
header > nav > button.dn-resume{
    display: inline-block;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1.5px solid #3d424d;
    padding: 0.8rem 1rem;
    font-family: Azeret Mono;
    font-size: 1rem;
    color: #3d424d;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    transition: 0.30s linear;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
header > nav > button.dn-resume:hover{
    background-color: #3d424d;
    color: var(--Text-white);
}
header > nav > button.dn-resume::after{
    content: "";
    position: absolute;
    width: 0.88em;
    height: 4em;
    background-color: #4d5462;
    left: -1.5rem;
    top: -1em;
    z-index: -1;
    transform: rotate(16deg);
    transition: 0.10s;
}
header > nav > button.dn-resume:hover::after{
    left: 13rem;
    transition: 0.50s linear;
}
header .mn-Bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100%;
    line-height: 1.5;
    padding: 2rem;
    background-image: url(./assets/Hero-bg.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
header .mn-Bg > img.IconPng{
    width: 17.51dvw;
    max-width: 100%;
    margin-bottom: 1.5rem;
}
header .mn-Bg h1.Headline {
    font-size: 3vw;
    font-family: Azeret Mono;
    text-align: center;
    font-weight: 800;
    color: var(--Text-black);
}
p.text-2nd {
    text-align: center;
    font-family: Azeret Mono;
    letter-spacing: 1px;
    font-size: var(--font-Size-small);
    font-weight: 400;
    color : var(--Text-black);
    opacity: 0.7;
    margin: 2% 0;
}
a.contact {
    padding: 1% 1.5%;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    font-family: 'Azeret Mono';
    background-color: #0d1321;
    color: var(--Text-white);
    font-weight: 500;
    font-size: var(--font-Size-small);
    cursor: pointer;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    padding: 5%;
    font-family: Azeret Mono;
}
main .title-heading{
    font-size: var(--font-Size-medeum);
    font-weight: 800;
    margin: 5% 0;
    margin-bottom: 1rem;
}
main p.title-2nd{
    font-size: var(--font-Size-Extra-small);
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    opacity: 0.7;
    line-height: 1.5;
}
main .info {
    width: 100%;
    margin-top: 8%;
    text-align: center;
}
.info .info_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    margin-bottom: 10%;
}
.info .info_info section{
    width: 33vw;
    max-width: 100%;
    text-align: left;
    line-height: 1.55;
}
section > h2{
    font-size: 1.8vw;
    color: #535761;
}
section p{
    font-size: var(--font-Size-Extra-small);
    font-weight: 400;
    opacity: 0.7;
    margin: 2rem 0;
}
section button{
    padding: 2% 6%;
    background: transparent;
    font-family: Azeret Mono;
    border: 2px solid #535761;
    color: #535761;
    font-weight: 600;
    cursor: pointer;
    font-size: var(--font-Size-Extra-small);
    transition: .30s ease-in;
}
section button:hover {
    background-color: var(--color-primary);
    color: var(--Text-white);
    border: 2px solid var(--color-primary);
    box-shadow: 0px 0px 2rem var(--color-primary), 0px 0px 3rem var(--color-primary);
}

.info .info_info img{
    width: 20vw;
    max-width: 100%;
}
.info .info_info:nth-child(2){
    gap: 4%;
}
.info .info_info:nth-child(2) section{
    width: 40vw;
}
section:nth-child(2) button{
    padding: 2% 6%;
}
section:nth-child(2) button:hover {
    background-color: var(--color-secondary);
    color: var(--Text-white);
    border: 2px solid var(--color-secondary);
    box-shadow: 0px 0px 2rem var(--color-secondary), 0px 0px 3rem var(--color-secondary);
}
.info .info_info:nth-child(3) section button:hover{
    background-color: var(--color-yellow);
    color: var(--Text-black);
    border: 2px solid var(--color-yellow);
    box-shadow: 0px 0px 2rem var(--color-yellow), 0px 0px 3rem var(--color-yellow);
}