/* === Azeret Font === */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* , 
*::after , 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Bg-color: #f5f5f5;
    --secondary-color: #000;
    --Text-black: #000;
    --Text-white: #fff;
    --font-Size-small : 1.33vw;
    --font-Size-defult : 1.25rem;
    --font-Size-big : 2.5rem;

}
a , li {
    text-decoration: none;
    color: var(--Text-black);
}

body{
    background-color: var(--Bg-color);
    width: 100%;
}

/* == navbar == */
header {
    display: block;
    width: 100%;
}
header > nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}
header > nav > h1.name{
    font-family: Azeret Mono;
    font-weight: 800;
    font-size: var(--font-Size-defult);
}
header > nav > button.dn-resume{
    display: inline-block;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1.5px solid #3d424d;
    padding: 0.8rem 1rem;
    font-family: Azeret Mono;
    font-size: 1rem;
    color: #3d424d;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    transition: 0.30s linear;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
header > nav > button.dn-resume:hover{
    background-color: #3d424d;
    color: var(--Text-white);
}
header > nav > button.dn-resume::after{
    content: "";
    position: absolute;
    width: 0.88em;
    height: 4em;
    background-color: #4d5462;
    left: -1.5rem;
    top: -1em;
    z-index: -1;
    transform: rotate(16deg);
    transition: 0.10s;
}
header > nav > button.dn-resume:hover::after{
    left: 11rem;
    transition: 0.50s linear;
}
header .mn-Bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100%;
    line-height: 1.5;
    padding: 2rem;
    background-image: url(./assets/Hero-bg.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
header .mn-Bg > img.IconPng{
    width: 17.51dvw;
    max-width: 100%;
    margin-bottom: 1.5rem;
}
header .mn-Bg h1.Headline {
    font-size: 3vw;
    font-family: Azeret Mono;
    text-align: center;
    font-weight: 800;
    color: var(--Text-black);
}
p.text-2nd {
    text-align: center;
    font-family: 'Azeret Mono';
    letter-spacing: 1px;
    font-size: var(--font-Size-small);
    font-weight: 400;
    color : var(--Text-black);
    opacity: 0.7;
    margin: 2% 0;
}
a.contact {
    padding: 1% 1.5%;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    font-family: 'Azeret Mono';
    background-color: #0d1321;
    color: var(--Text-white);
    font-weight: 500;
    font-size: var(--font-Size-small);
    cursor: pointer;
}